body {
    background-color: lightpink;
  }

  h1 {
    font-family: Impact, fantasy;
    font-size: 60px;
    font-weight: bold;
    text-align: center;
  }
  h2 {
    text-align: center;
    font-size: 40px;
    font-weight: bold;
  }

  a::after {
    content: ''; /* Adds decorative content */
    display: block;
    width: 0;
    height: 2px;
    background: #572649;
    transition: width 0.3s ease;
  }