body {
    background-color: lightpink;
  }

  h1 {
    font-family: Impact, fantasy;
    font-size: 60px;
    font-weight: bold;
    text-align: center;
  }

  h2 {
    font-family:Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    border: 2px solid #a3368c;
    padding: 10px;
    display: inline-block;    
  }