body {
    background-image: url('https://scontent.xx.fbcdn.net/v/t1.15752-9/462554161_947797583886232_8300544721039773463_n.png?_nc_cat=105&ccb=1-7&_nc_sid=0024fc&_nc_ohc=STXMq9higcIQ7kNvgGKy4B9&_nc_ad=z-m&_nc_cid=0&_nc_zt=23&_nc_ht=scontent.xx&oh=03_Q7cD1QHys6gZRd_pE4goGpdYkqB-qAZG0vTFdeYFqp8bhvyaxA&oe=6773DCAC');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;
    font-size: 20px;
  }

  .p1{
    text-align:justify;
  }
  
  .title{
    text-align: center;
    font-size: 30px;
  }

  h1 {
    font-family: Impact, fantasy;
    font-size: 60px;
    font-weight: bold;
    text-align: center;
  }

  h2 {
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    color: lightpink;
    background-color: black;
    display: inline-block;
    padding: 6px;
  }

  h3 {
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    color: #62021e;
  }
  
  a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 40px;
    transition: color 0.3s ease, transform 0.3s ease;
    text-align: center;
    display: block;
    margin: 20px auto;
  }
  
  a:hover {
    color: #62021e;
    text-decoration: underline;
  }

  .quote {
    font-style: italic;
    font-weight: bold;
  }
  
  .quote-author {
    font-style: italic;
  }

  img {
    padding: 8px solid black;
    border: 10px solid #62021e;
    max-width: 50%;
    height: auto;
  }